.col-left{

	float: left;

	width: 200px;

	background: red;
}
.col-center{
	
width:  500px;
	
background:  blue;
	
float:  left;
	
margin: 0px 20px;
	min-height:400px;
}

.col-right{

	width: 300px;

	background:  green;

	float: right;

	font-size: 20px;
}
